@model LaboratorioDaKarolyne.Models.Paciente
@{
    ViewBag.Title = "Buscar Pacientes";
}

<h2>Listar Pacientes</h2>

<hr />
<div class="row">
    <div>
        <p>
            @Html.ActionLink(" ", "Novo", null, new { @class = " glyphicon glyphicon-plus btn btn-primary", })
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h4>Pesquisa por Nome</h4>
        <div class="input-group">
            <input type="text" id="nomeBusca" name="nomeBusca" class="form-control" placeholder="Insira um nome...">
            <span class="input-group-btn">
                <button class="btn btn-primary" id="buscar" onclick="click" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-md-6">
        <h4>Pesquisa por Plano</h4>
        <div class="form-group">
            @Html.DropDownListFor(model => model.ObjPlanoSaude.IdPlanoSaude, ViewBag.Planos as SelectList, "Escolha um Plano...", new { @class = "form-control" })
        </div><!-- /input-group -->
    </div><!-- /.col-md-6 -->
</div>
<div id="exibirPacientes">

</div>

@section scripts{
    <script>
        $("#ObjPlanoSaude_IdPlanoSaude").on("change", function () {
        var resultado = $(this).val();

        $("#exibirPacientes").load('@Url.Action("Listar", "Paciente")', { plano: resultado })
        });

        $("#buscar").on("click", function () {
        var resultado = $("#nomeBusca").val();

        $("#exibirPacientes").load('@Url.Action("Listar", "Paciente")', { nome: resultado })
    });
    </script>
}